@charset 'utf-8';

body {
  background: #102f44;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.box + .box {
  margin-left: 40px;
}

.container {
  width: 335px;
  margin: 30px auto;
}

.boxes {
  font-size: 0;
  margin-bottom: 40px;
}

.box {
  cursor: pointer;
}

.shake:hover {
  animation-name: shake;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: rotate(8deg) translate(1px, 0); }
  50% { transform: rotate(-8deg) translate(-1px, 0); }
  100% { transform: rotate(8deg) translate(1px, 0); }
}